html {
    height: 100%;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

p {
    font-weight: bold;
}

#the_distances {
    width = 100%; 
    height = 20px;
    text-align:center;
}

#map_canvas {
    width: 100%;
    height: 100%;
}